.video-container {
    display: none;
}


/*
#remoteVideo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 300;
    height: 200;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(../img/vidbg.png) no-repeat;
    background-size: cover;
}
*/

#remoteVideo {
    width: 100%;
    min-height: 100%;
    /*z-index: -100;*/
    position: relative;
}

#localVideo {
    width: 200px;
    height: auto;
    /* bottom: 38px; */
    position: absolute;
    right: 0;
    border-radius: 5px;
    top: 0;
    /* padding: 10px; */
    border: 1px solid black;
    margin: 3px;
}

.video-container {
    position: relative;
}

.initVideo {
    text-decoration: none;
}

.initVideo:hover {
    color: black;
}

#icons {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 0;
    left: 0%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    padding: 20px;
    margin: auto;
    cursor: pointer;
    transition: ease background 1s;
}

#icons:hover {
    background: rgba(75, 33, 33, 0.5);
}

#unmuted-mic {
    display: inline-block;
}

#muted-mic {
    display: none;
}

#play-icon {
    display: none;
}

#pause-icon {
    display: inline-block;
}

#video-button {
    display: inline-block;
    width: 25%;
}

.resolution {
    font-size: 12px;
}

button {
    border: none;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
}

.i-margin-right {
    margin-right: 10px;
}

.fa-microphone,
.fa-microphone-slash,
.fa-pause-circle,
.fa-play-circle {
    display: inline-block;
    cursor: pointer;
    z-index: 1000;
}

.fa-circle {
    margin-right: 10px;
}

.fa-microphone-slash {
    font-size: 15px;
}

.chat-pane {
    position: fixed;
    z-index: 1000;
    /*left: 0;*/
    width: 33.333%;
    bottom: 0;
}

.f-w {
    width: 100%;
}

.chat-pane-top-bar {
    display: flex;
    justify-content: space-between;
}

.closeChat {
    width: 5%;
    cursor: pointer;
}

.msg_container_base {
    background: #fff;
    margin: 0;
    padding: 0 10px 10px;
    max-height: 225px;
    overflow-x: hidden;
    display: none;
}

.messages {
    background: #13c9dc33;
    padding: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    max-width: 100%;
    margin-bottom: 5px;
}

.messages>.messageText {
    margin: auto;
    padding: 5px;
    word-wrap: break-word;
}

.messageText .right {
    font-size: 11px;
    color: #273938;
    float: right;
}

.show-modal {
    background: #30c0d0;
    padding: 20px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

.user-is-typing {
    padding-bottom: 10px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 50%;
    left: 50%;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    width: 50%;
    transform: translate(-50%, 50%);
}